@charset "utf-8";

  p {
    margin-bottom: 2cm;
    line-height: 1cm;
    margin-right: 2cm;
    margin-left: 3cm;
    font-size: 15pt;
    text-align: justify;
    line-height:1cm;
    text-indent: 20px;
    
  }

  h1 {
    margin-right: 2cm;
    margin-left: 3cm;
    font-size: 36px;
    text-align: left;
    margin-top: 3cm;
  }
  
  h2 {
    margin-right: 2cm;
    margin-left: 3cm;
    font-size: 10pt;
    text-align: left;
    line-height: 1cm;
  }

  .referencia {
    line-height: 1cm;
    margin-right: 2cm;
    margin-left: 3cm;
    text-align: justify;
    line-height:1cm;
    
  }

  .img-abnt {
    display: block;
    margin: auto;
    width: 35vw;
    height: 35vh;
  }
  .p {
    font-size: 12em;
    text-align: center;
  }

  strong {
    color: transparent;
  }

  #strong {
    color: black;
  }

  .dark #strong {
    color: #e7e7e7;
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    #menu {
      margin-left: 70px;
      margin-right: 70px;
    }
    #busca {
      margin: 0px 70px;
    }
    p{
      font-size: 1.5em;
    }
  }
  
  @media (min-width: 426px) and (max-width: 768px) {
    main {
      margin: 0;
    }
    #menu {
      margin: 0;
      width: 100%;
      top: 70px;
      right: 0;
      height: auto;
    }
    #busca {
      margin: 0;
      width: 100%;
      top: 70px;
      right: 0;
      height: auto;
    }
  }

  @media (max-width: 424px) {
    body {
      font-size: 12px;
    }
    #menu {
      display: none;
    }
    #estuda {
      margin: 0.2rem;
    }
  }