
body, ul {
    margin: 0px;
    padding: 0px;
  }

* {
  background-color: white;
}

body {
  background-color: #ffffff;
  height: 100vh;
}

main {
  background-color: white;
  border: black;
  margin: 0px 70px 20px 70px;
}

:root {
  --text-color: black;
  --bg-color: #0a252d;
  --main-color: white;
  --font-color: black;

}

/* Navegação */

a{
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  background-color: rgba(0, 0, 0, .05);
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e7e7e7;
}

#nav {
  display: flex;
  align-items: center;
  gap: .5rem;
}

/* Botão da Navegação */ 

#menu {
  display: block;
  list-style: none;
  text-align: center;
  gap: .5rem;
  position: absolute;
  width: 100%;
  margin-left: 70px;
  margin-right: 70px;
  top: 70px;
  right: 0px;
  background: #e7e7e7;
  box-shadow: 20px 20px #8bbad1;
  transition: .6s;
  z-index: 1000;
  height: 0px;
  visibility: hidden;
  overflow-y: hidden;
  }

#menu a {
  display: block;
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, .05);
}

#nav.active #menu {
  display: block;
  height: calc(100vh - 70px);
  visibility: visible;
  overflow-y: auto;
}

#btn-mobile {
  display: flex;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
}

#hamburger {
  border-top: 2px solid;
  width: 20px;
}

#hamburger::after, #hamburger::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: currentColor;
  margin-top: 5px;
  transition: .3s;
  position: relative;
}

#nav.active #hamburger {
  border-top-color: transparent;
}

#nav.active #hamburger::before {
  transform: rotate(135deg);
}

#nav.active #hamburger::after {
  transform: rotate(-135deg);
  top: -7px;
}

/* Botão de Busca */

#btn-busca {
  display: flex;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
}

#busca {
  display: block;
  list-style: none;
  text-align: center;
  gap: .5rem;
  position: absolute;
  margin: 0px 70px;
  width: 100%;
  top: 70px;
  right: 0px;
  background: #e7e7e7;
  box-shadow: 20px 20px #8bbad1;
  transition: .6s;
  z-index: 1000;
  height: 0px;
  visibility: hidden;
  overflow-y: hidden;
  }

  #busca a {
    display: block;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
  }

  #nav.ativo #busca {
    display: block;
    height: calc(50vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #nav.ativo #lupa {
    display: none;
  }

  #calzone {
    display: none;
    border-top: 2px solid;
    width: 20px;
  }

  #calzone::after, #calzone::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  #nav.ativo #calzone {
    display: block;
    border-top-color: transparent;
  }
  
  #nav.ativo #calzone::before {
    transform: rotate(135deg);
  }
  
  #nav.ativo #calzone::after {
    transform: rotate(-135deg);
    top: -7px;
  }

/* Formatação das Letras */

.paragrafo {
  line-height: 1cm;
  margin-top: 2cm;
  margin-left: 1cm;
  text-align: justify;
  font-size: 30px;
}

.titulo { 
  font-size: 50px;
  margin-left: 1cm;
  margin-top: 4cm;
  text-align: left;
}

/* Formatação do Conteudo do Index */

#texto {
  top: 150px;
  height: 350px;
  width: 45%;
}

.imagem {
  width: 40%;
  height: 60%;
  margin-left: 750px;
  left: 40px; top: 150px; position: absolute;
}

#dark {
  display: none;
}

#light {
  display: block;
}

  /* Dark theme */

input[type="checkbox"] {
  display: none;
}

.bi {
  font-size: 1.3rem;
  cursor: pointer;
}

.bi-moon {
  display: none;
}

.dark,
.dark header {
  background-color: #274360;
  color: #fff;
}

.dark .bi-sun {
  display: none;
}

.dark .bi-moon {
  display: block;
}

.dark #header {
  background-color: #37474f;
  color: #fff;
}

.dark main {
  background-color: #212121;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
}

.dark #logo {
  color: #e7e7e7;
}

.dark #hamburger {
  color: #e7e7e7;
}

.dark #calzone {
  color: #e7e7e7;
}
.dark #menu {
  background: #37474f;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.dark #busca {
  background: #37474f;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.dark a {
  color: #e7e7e7;
}

@media (min-width: 769px) and (max-width: 1024px) {
  #menu {
    margin-left: 70px;
    margin-right: 70px;
  }
  #busca {
    margin: 0px 70px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  main {
    margin: 0;
  }
  #menu {
    margin: 0;
    width: 100%;
    top: 70px;
    right: 0;
    height: auto;
  }
  #busca {
    margin: 0;
    width: 100%;
    top: 70px;
    right: 0;
    height: auto;
  }
}